/* Universal Styles */
html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

h2,
h3,
h4,
  {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h1 {
  font-size: 7.1rem;
  font-family: 'Monoton';
  color: #ffffff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
  color: #399bd1;
}

h4 {
  font-size: 1.3rem;

}

/* Nav Styles */
.navbar-default .navbar-nav > .active > a {
  font-size: 1.1rem;
  color: inherit;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #399bd1;
}

/* @include media-breakpoint-down(md) {
   .navbar-brand img {
     display: none;
   }
  } */

/* Nav Styles */
.jumbotron {
  background-image: url(/resources/images/jumbotron-bike.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
